weird-heading()
	font-family var(--font-heading)

	&:first-letter
		font-feature-settings 'salt'

box-before()
	&:before
		position absolute
		display block
		content ''
		{block}

input($focus-selector = ':focus')
	height var(--ui-input-height)
	border-radius var(--ui-input-border-radius)
	background var(--color-surface-variant)
	color var(--color-on-surface-variant)
	input-transition(box-shadow)
	font-size var(--ui-input-font-size)
	--border-color var(--color-primary)

	.input
		display block
		padding 0.3em 0.6em
		width 100%
		height 100%
		line-height calc(var(--input-height) - 0.5em)

	&:has(:disabled)
		border 1px solid cyan
		background transparent
		color cyan

	&.invalid
		color var(--color-error)
		--border-color var(--color-error)

	&:hover, &:focus, &:focus-within
		box-shadow 0 0 0 0 inset var(--border-color), 0 0 0 1px inset var(--border-color)

	&:focus, &:focus-within, &{$focus-selector}
		z-index 1
		box-shadow 0 0 0 1px inset var(--border-color), 0 0 0 1px var(--border-color)

input-transition(prop = all)
	values = ()

	for p in arguments
		push(
			values,
			p + ' 0.1s ease'
		)

	transition unquote(join(',', values))