@import '@/common.styl'

// Reset
*
	outline none
	font-weight inherit

// Theme
:root
	// Typography
	--font-ui Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
	--font-text Spectral, 'Shippori Mincho', yu-mincho-pr6n, YuMincho, '游明朝', Yu Mincho, YuMincho, Hiragino Mincho ProN, 'HGS明朝E', serif
	--font-heading 'Gestures', serif
	--font-code 'Fira Code', monospace
	// Color schemes
	// Based on https://m3.material.io/styles/color/the-color-system/tokens
	// and color builder: https://m3.material.io/theme-builder#/custom
	--color-on-background #000000
	--color-background #ffffff
	--color-primary #2638ff
	--color-on-primary #ffffff
	--color-surface #f2f2f399
	--color-on-surface #1a1b1f
	--color-surface-border #ddd
	--color-surface-variant #efeff4
	--color-on-surface-variant #363841
	--gradient #2638ff 0%, #f37ea5 16%, #f0a59b 28%, #f1caca 35%, #ccdce6 44%, #bef1ee 54%, #8ef6b7 63%, #6fc8d9 82%, #2638ff 100%
	--color-error #ea5180
	--color-on-error #FFFFFF
	--color-warning #f7a576
	--color-on-warning #FFFFFF
	// UI Layout
	--ui-surface-radius 1rem
	--ui-input-font-size 14px
	--ui-input-border-radius 4px
	--ui-input-height 24px
	--ui-input-vert-margin 12px

// @media (prefers-color-scheme dark)
// :root
// --color-on-background #e1e1e1
// --color-background #242424
:root
	background-color var(--color-background)
	color var(--color-on-background)
	font-family var(--font-text)
	line-height 1.6
	color-scheme light dark
	font-synthesis none
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%

*, *:before, *:after
	box-sizing border-box

a
	border-radius 0.4em
	transition all 0.1s ease

	&:hover
		background var(--color-on-background)
		color var(--color-background)

html
	width 100%
	font-size 16px

body
	margin 0
	min-height 100vh
	width 100%

.entry
	h1
		weird-heading()
		margin 2.5rem 0 1.8rem
		font-weight 500
		font-size 2.4em
		line-height 1.1

	a
		background-image linear-gradient(transparent 50%, currentColor 50%)
		background-position left bottom
		background-size 10px 1px
		background-repeat repeat-x
		text-decoration none

	hr
		height 4px
		border 0
		border-radius 2px
		background linear-gradient(to right, var(--gradient))

	p
		margin 1.6em 0

	em
		font-weight 500
		font-family var(--font-heading)

	code
		margin-top 2em
		font-size 0.9em
		font-family var(--font-code)

#app
	position relative
	display flex
	justify-content center
	overflow auto
	padding 10vh 0
	width 100%
	height 100vh
	overscroll-behavior-y contain